* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
:root {
  --maincolor: #45f3ff;
  --maintransiton: 2s;
  --firstcolor: #1c1c1c;
  --white-coloe: #fff;
  --blacsh-colo: #0000008a;
  --yello-color: #d4bc87;
  --back-color: #bcaf9428;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* start-headr */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  position: relative;
  min-height: 97px;
}

header .container nav {
  flex: 1;
}
header .container nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .container nav ul {
  display: flex;
}
/* تعديل */
header .container nav ul li a {
  display: block;
  font-size: 14px;
  padding: 1px 10px;
  transition: var(--maintransiton);
  color: black;
  font-weight: bold;
  border-bottom: 1px solid #00800033;
  border-radius: 30px;
}
header .container nav ul li a:hover {
  color: rgba(0, 0, 255, 0.358);
  font-size: 18px;
}
header nav .menu {
  font-size: 22px;
  color: black;
}

@media (min-width: 768px) {
  header nav .menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  video {
    max-width: 100%;
  }
  header nav .menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(66, 124, 113, 0.711);
    padding: 15px 0;
    z-index: 10;
    color: white;
  }
  header nav .menu:hover + ul a {
    padding: 15px !important;
  }
  video {
    height: 50vh;
  }
}
/* strat-landing{ */
video {
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: 100vh;
  z-index: -1;
}
/* //// */
.linkss {
  position: absolute;
  flex-direction: column;
  margin-top: -٥px;
  padding: 10px;
  transition: 3s;
}
.linkss li {
  margin: 1px 1px;
}
.linkss li a {
  padding: 2px !important;
  display: block;
}
.linkss li {
  display: none;
}
nav li:hover li {
  display: block;
}
/* //// */
/* end */
@media (max-width: 767px) {
  .text .container p {
    font-size: 10px;
    padding: 5px 5px;
    margin: 30px;
  }
}
/* start-main titl */
@media (max-width: 767px) {
  .main-title {
    padding: 5px 10px;
    font-size: 8px;
    margin: 50px auto;
  }
}
.main-title {
  position: relative;
  border: 2px solid black;
  padding: 10px 20px;
  width: fit-content;
  margin: 100px auto;
  z-index: 1;
  transition: var(--maintransiton);
  background-color: var(--second-coloe);
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--maincolor);
  border-radius: 50%;
  top: 50%;
  transform: translatey(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left 1s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right 1s linear forwards;
}
@keyframes left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    left: 0;
    width: 100%;
    border-radius: 20px;
    height: 100%;
  }
}
@keyframes right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
/* end */
@media (max-width: 767px) {
  .text .container p {
    font-size: 10px;
    padding: 5px 5px;
    margin: 30px;
  }
}
.text {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--second-coloe);
}

.text .container h2 {
  padding: 20px 0;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 20px;
}

.text .container p {
  text-align: center;
  padding: 15px 0;
  line-height: 1.5;
  color: #0000008a;
}

/* <!-- start-global  --> */
.global {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--second-coloe);
}
.global .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.global .container .box {
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 30px;
  overflow: hidden;
}
.global .box .fa-plane {
  font-size: 20px;
  color: var(--maincolor);
  padding: 10px 0;
  transition: var(--maintransiton);
}
.global .box:hover .fa-plane {
  transform: translateX(100px);
}
.global .container .box p {
  text-align: center;
  padding: 15px 0;
  line-height: 1.5;
  color: #0000008a;
}
.global .container .box h3 {
  font-size: 15px;
  font-weight: 50;
  color: var(--yello-color);
  padding: 10px 0;
}

/* <!-- start-we-are  -->*/

.weare {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--second-coloe);
}
.weare .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  flex-wrap: wrap;
}
.weare .container h3,
.who h3 {
  font-weight: 600;
  text-align: center;
  font-size: 41px;
  padding: 20px 0;
}
img {
  max-width: 100%;
}

.weare .container .box img,
.who .container .box img {
  border-radius: 63px;
}
.weare .container .box h2 {
  padding: 100px 0 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.weare .container .box p,
.who .container p {
  color: var(--blacsh-colo);
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .weare .container .box p,
  .who .container p,
  .weare p {
    font-size: 10px;
    margin: 30px;
    font: 15px;
  }
}
.weare p {
  font-size: 30px;
  text-align: center;
  padding: 50px 0;
  font-family: initial;
}

.who .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
}

.who .container p {
  padding-top: 80px;
}

.who h3 {
  padding: 80px;
  font-family: initial;
  font-weight: 500;
}
/*popular  */
.popular {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--second-coloe);
}
.popular .container {
  text-align: center;
}
.popular .container h2 {
  font-size: 30px;
  text-align: center;
  padding: 50px 0;
  font-family: initial;
}
/* INSTAGRAm */
.INSTAGRAm {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--second-coloe);
}
.INSTAGRAm p {
  text-align: center;
  font-size: 30px;
  padding: 70px 0;
}
.INSTAGRAm .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.INSTAGRAm .container img {
  border-radius: 30px;
  transition: var(--maintransiton);
}
.INSTAGRAm .container img:hover {
  transform: rotate(30deg);
}
.link {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--second-coloe);
}
.link .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link .container li {
  padding: 10px;
  font-size: 40px;
  transition: var(--maintransiton);
}
.link .container li:hover {
  transform: rotatex(360deg);
}
/* footer */
@media (max-width: 767px) {
  footer .container .link {
    font-size: 10px;
    margin: 0;
    padding: 1px;
    flex-wrap: wrap;
    display: flex;
  }
}
footer {
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer .container .imge {
  text-align: center;
  padding: 50px 0;
}
footer .container .link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

footer .container .link a {
  color: white;
  padding: 30px 10px;
  transition: 1s;
}
footer .container .link a:hover {
  color: rgba(248, 246, 246, 0.166);
  transform: translateX(10px);
}
footer .container p {
  color: white;
  text-align: center;
  line-height: 50px;
}
@media (max-width: 767px) {
  .who .container,
  .weare .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  .who .container,
  .weare .container .imge,
  .INSTAGRAm .container a {
    text-align: center;
  }
}
/* start-send */
.bod {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px;
  background-color: rgba(255, 255, 0, 0.198);
}
.rapper {
  width: 720px;
  background-color: white;
  border-radius: 5px;
}
.rapper .headaa {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #760d0d;
}
.rapper form {
  margin: 35px 30px;
}
form .dbl-field {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-around;
  align-items: center;
}
.dbl-field .field {
  height: 50px;
  position: relative;
  width: calc(100% / 2 - 13px);
}
form .field input,
form .message textarea {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  border: 1px solid #bfbfbf;
  border-radius: 30px;
  font-size: 16px;
}
form .field input:focus,
form .message textarea:focus {
  border: 2px solid #0d6efd;
}
form .field input::placeholder,
form .message textarea::placeholder {
  color: #bfbfbf;
}
.rapper .field i {
  position: absolute;
  left: 18px;
  top: 50%;
  color: #bfbfbf;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input:focus ~ i {
  color: #0d6efd;
}
form .message i {
  position: relative;
}

form .message i {
  top: 20px;
  font-size: 20px;
}
form .message textarea {
  min-width: 100%;
  max-width: 100%;
  max-height: 300px;
  min-height: 120px;
  padding: 15px 20px 0 48px;
}
form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button {
  font-size: 18px;
  border: none;
  border-radius: 30px;
  padding: 13px 25px;
  background-color: #0d6efd;
  cursor: pointer;
}
.button-area span {
  color: #0d6efd;
  margin-left: 30px;
}
@media (max-width: 767px) {
  .rapper .headaa {
    text-align: center;
  }
  form .dbl-field {
    flex-direction: column;
    margin-bottom: 0;

  }
  .dbl-field .field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .button-area button {
    width: 100%;
  }
  form .button-area {
    flex-direction: column;
  }
  .button-area span{
    text-align: center;
    margin: 20px 0;
  }
form .message textarea {
resize: none;
}
}
