* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
:root {
  --maincolor: #45f3ff;
  --maintransiton: 2s;
  --firstcolor: #1c1c1c;
  --white-coloe: #fff;
  --blacsh-colo: #0000008a;
  --yello-color: #d4bc87;
  --back-color: #bcaf9428;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* start-headr */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  position: relative;
  min-height: 97px;
}

header .container nav {
  flex: 1;
}
header .container nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .container nav ul {
  display: flex;
}
/* تعديل */
header .container nav ul li a {
  display: block;
  font-size: 14px;
  padding: 1px 10px;
  transition: var(--maintransiton);
  color: black;
  font-weight: bold;
  border-bottom: 1px solid #00800033;
  border-radius: 30px;
}
header .container nav ul li a:hover {
  color: rgba(0, 0, 255, 0.358);
  font-size: 18px;
}
header nav .menu {
  font-size: 22px;
  color: black;
}

@media (min-width: 768px) {
  header nav .menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  video {
    max-width: 100%;
  }
  header nav .menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(66, 124, 113, 0.711);
    padding: 15px 0;
    z-index: 10;
    color: white;
  }
  header nav .menu:hover + ul a {
    padding: 15px !important;
  }
  video {
    height: 50vh;
  }
}
/* strat-landing{ */
video {
  right: 0;
  bottom: 0;
  max-width: 100%;
  z-index: -1;
}
/* //// */
.linkss {
  position: absolute;
  flex-direction: column;
  margin-top: -٥px;
  padding: 10px;
  transition: 3s;
}
.linkss li {
  margin: 1px 1px;
}
.linkss li a {
  padding: 2px !important;
  display: block;
}
.linkss li {
  display: none;
}
nav li:hover li {
  display: block;
}
/* //// */
/* end */
@media (max-width: 767px) {
  .text .container p {
    font-size: 10px;
    padding: 5px 5px;
    margin: 30px;
  }
}
.text {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--second-coloe);
}

.text .container h2 {
  padding: 20px 0;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1.3px;
  font-size: 30px;
}

.text .container p {
  text-align: center;
  padding: 15px 0;
  line-height: 1.5;
  color: #0000008a;
}

/* start-main titl */
@media (max-width: 767px) {
  .main-title {
    padding: 5px 10px;
    font-size: 8px;
    margin: 50px auto;
  }
}
.main-title {
  position: relative;
  border: 2px solid black;
  padding: 10px 20px;
  width: fit-content;
  margin: 100px auto;
  z-index: 1;
  transition: var(--maintransiton);
  background-color: var(--second-coloe);
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--maincolor);
  border-radius: 50%;
  top: 50%;
  transform: translatey(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left 1s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right 1s linear forwards;
}
@keyframes left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    left: 0;
    width: 100%;
    border-radius: 20px;
    height: 100%;
  }
}
@keyframes right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
/* end */
img {
  max-width: 100%;
}


/* footer */

/* footer */
@media (max-width: 767px) {
footer .container .link {
    font-size: 10px;
    margin: 0;
    padding: 1px ;
    flex-wrap: wrap;
    display: flex;
  }
}
footer {
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer .container .imge {
  text-align: center;
  padding: 50px 0;
}
footer .container .link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

footer .container .link a {
  color: white;
  padding: 30px 10px;
  transition: 1s;
}
footer .container .link a:hover {
  color: rgba(248, 246, 246, 0.166);
  transform: translateX(10px);
}
footer .container p {
  color: white;
  text-align: center;
  line-height: 50px;
}
